{% extends 'base.html.twig' %}

{% block title %}Klausuren{% endblock %}
{% block headline %}Klausuren{% endblock headline %}

{% block content_row %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Kurs</th>
            <th>Art der Prüfung</th>
            <th>Semester</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}

            <tr>
                <td>{{ exam.subject }}</td>
                <td>
                    {% if exam.type == constant('OpiumBundle\\Entity\\ExamType::WRITTEN') %}
                        schriftlich
                    {% elseif exam.type == constant('OpiumBundle\\Entity\\ExamType::ORAL') %}
                        mündlich
                    {% else %}
                        nocht nicht festgelegt
                    {% endif %}
                </td>
                <td>{{ exam.semester.identifier }}</td>
                <td>
                    {% set participation = exam.examParticipationForExam(exam) %}
                    {{ participation.grade|number_format(1, ',', '.') }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock content_row %}
