{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Klausur-Termine</h1>

    <h2>Noten</h2>


    <table class="table table-condensed">
        <tr>
            <th>Pr端fungsfach</th>
            <th>Raum</th>
            <th>Pr端fungsbeginn</th>
            <th>Dauer</th>
            <th>Pr端fer</th>
            <th>Fachbereich</th>
            <th>Pr端fungsform</th>
            <th>Versuch</th>
            <th>Semester</th>
            <th>Datum</th>
        </tr>

        {% for keys in 0..7  %}
            <tr>
                {% for key in 0..9 %}
                    <td>
                        {{ exams[keys][key] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}


    </table>

{% endblock %}