{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Passwort ändern{% endblock %}
{% block headline %}Passwort ändern{% endblock headline %}

{% block content_row %}

    {{ form_start(form, { 'action': path('fos_user_change_password') }) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content_row %}
